body {
    font-family: 'Rubik', sans-serif;
}

div .entry-box {
    padding: 0px;
    width: 70px;
    display: inline-block;
}

.entry-box-input {
    height: 70px;
    width: 100%;
    top: 0px;
    font-size: 40px;
    text-align: center;
    -webkit-transition: background-color .5s, color .5s;
    transition: background-color .5s, color .5s;
    border: 2px solid black;
}

.entry-box-input:active, .entry-box-input:focus, .entry-box-input:hover {
    background-color: gray;
    cursor: pointer;
    color: white;
    border: 2px solid black
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.button {
    border-radius: 5px;
    border: 0px solid white;
    color: white;
    background-color: green;
    padding: 10px
}
