body {
    font-family: 'Rubik', sans-serif;
}

div .entry-box {
    padding: 0px;
    width: 50px;
    display: inline-block;
}

.entry-box-input {
    height: 50px;
    width: 100%;
    top: 0px;
    font-size: 30px;
    text-align: center;
    -webkit-transition: background-color .5s, color .5s;
    transition: background-color .5s, color .5s;
    border: 1px solid black;
}

.right-border {
    border-right: 3px solid black;
}

.left-border {
    border-left: 3px solid black;
}

.top-border {
    border-top: 3px solid black;
}

.bottom-border {
    border-bottom: 3px solid black;
}

.entry-box-input:active,
.entry-box-input:focus,
.entry-box-input:hover {
    background-color: gray;
    cursor: pointer;
    color: white;
    padding: 0px;
    margin: 0px;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.title {
    margin-top: 30px;
}

.button {
    margin: 20px;
    width: 450px;
    font-size: 30px;
    border-radius: 5px;
    border: 0px solid white;
    color: white;
    background-color: #0ec73f;
    padding: 10px
}